<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="section">
        <div class="container text">
            <h5>Фон и граница</h5>
            <div class="cards">
                <article class="card">
                    <div class="card__content">
                        <h3 class="card__title">default</h3>
                    </div>
                </article>
                <article class="card card_fill-main">
                    <div class="card__content">
                        <h3 class="card__title">card_fill-main</h3>
                    </div>
                </article>
                <article class="card card_border-grey">
                    <div class="card__content">
                        <h3 class="card__title">card_border-grey</h3>
                    </div>
                </article>
                <article class="card card_border-pale">
                    <div class="card__content">
                        <h3 class="card__title">card_border-pale</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">card_fill-white</h3>
                    </div>
                </article>
                <article class="card card_fill-dark">
                    <div class="card__content">
                        <h3 class="card__title">card_fill-dark</h3>
                    </div>
                </article>
                <article class="card card_fill-grey">
                    <div class="card__content">
                        <h3 class="card__title">card_fill-grey</h3>
                    </div>
                </article>
                <article class="card card_border-main">
                    <div class="card__content">
                        <h3 class="card__title">card_border-main</h3>
                    </div>
                </article>
            </div>

            <hr>

            <h5>Заголовки</h5>
            <div class="cards cards_col-3">
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">default</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title card__title_dark">card__title_dark</h3>
                    </div>
                </article>
                <article class="card card_fill-dark">
                    <div class="card__content">
                        <h3 class="card__title card__title_light">card__title_light</h3>
                    </div>
                </article>
            </div>

            <hr>

            <h5>Дополнительные элементы</h5>
            <div class="cards">
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">default</h3>
                    </div>
                </article>
                <article class="card card_start card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">card_start</h3>
                    </div>
                </article>
                <article class="card card_space-between card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">card_space-between</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">text</h3>
                        <div class="card__text text">
                            <p><strong>Комплексное</strong> предложение для создания интерьера</p>
                        </div>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <div class="card__icon">
                            <svg width="29" height="33" viewBox="0 0 29 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.75 1.91699L1.375 7.75033V28.167C1.375 28.9405 1.68229 29.6824 2.22927 30.2294C2.77625 30.7764 3.51812 31.0837 4.29167 31.0837H24.7083C25.4819 31.0837 26.2237 30.7764 26.7707 30.2294C27.3177 29.6824 27.625 28.9405 27.625 28.167V7.75033L23.25 1.91699H5.75Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1.375 7.75H27.625" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.3332 13.583C20.3332 15.1301 19.7186 16.6138 18.6246 17.7078C17.5307 18.8018 16.0469 19.4163 14.4998 19.4163C12.9527 19.4163 11.469 18.8018 10.375 17.7078C9.28109 16.6138 8.6665 15.1301 8.6665 13.583" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <h3 class="card__title">icon default</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <div class="card__icon card__icon_stroke">
                            <svg width="29" height="33" viewBox="0 0 29 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.75 1.91699L1.375 7.75033V28.167C1.375 28.9405 1.68229 29.6824 2.22927 30.2294C2.77625 30.7764 3.51812 31.0837 4.29167 31.0837H24.7083C25.4819 31.0837 26.2237 30.7764 26.7707 30.2294C27.3177 29.6824 27.625 28.9405 27.625 28.167V7.75033L23.25 1.91699H5.75Z" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M1.375 7.75H27.625" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.3332 13.583C20.3332 15.1301 19.7186 16.6138 18.6246 17.7078C17.5307 18.8018 16.0469 19.4163 14.4998 19.4163C12.9527 19.4163 11.469 18.8018 10.375 17.7078C9.28109 16.6138 8.6665 15.1301 8.6665 13.583" stroke="#F66201" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <h3 class="card__title">icon + card__icon_stroke</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <div class="card__number">02</div>
                        <h3 class="card__title">number</h3>
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <h3 class="card__title">image</h3>
                    </div>
                    <div class="card__image">
                        <img src="<%= require('../assets/images/marketing-1.png') %>" alt="Marketing">
                    </div>
                </article>
                <article class="card card_fill-white">
                    <div class="card__content">
                        <a href="#" class="card__link"></a>
                        <h3 class="card__title">link</h3>
                    </div>
                    <div class="card__image">
                        <img src="<%= require('../assets/images/marketing-1.png') %>" alt="Marketing">
                    </div>
                </article>
            </div>
        </div>
    </section>

    <%= require('../templates/footer.html').default %>

</body>
</html>