<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_top_dark.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <%= require('../templates/hero_dealer.html').default %>

    <%= require('../templates/dealer_block.html').default %>

    <%= require('../templates/advantages.html').default %>

    <%= require('../templates/steps.html').default %>

    <%= require('../templates/help_tags.html').default %>

    <%= require('../templates/gallery_store.html').default %>

    <%= require('../templates/reviews.html').default %>

    <%= require('../templates/form_dealer.html').default %>

    <%= require('../templates/social.html').default %>

    <%= require('../templates/footer.html').default %>

</body>
</html>