<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_top_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <%= require('../templates/hero_history.html').default %>

    <%= require('../templates/history_content.html').default %>

    <%= require('../templates/form_dealer_4.html').default %>

    <%= require('../templates/news_preview.html').default %>

    <%= require('../templates/social.html').default %>

    <%= require('../templates/footer.html').default %>

</body>
</html>