<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="page-title">
        <div class="container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__wrapper">
                    <a class="breacrumbs__item" href="#">Главная</a>
                    <span class="breacrumbs__item">Новости</span>
                </div>
            </div>
            <h1>Новости</h1>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <div class="article-list">
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-1.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-2.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-3.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/door-default.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-3.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-3.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
                <article class="article">
                    <a href="#" class="article__image">
                        <img class="article__image-inner" src="<%= require('../assets/images/article-3.png') %>" alt="Article" loading="lazy">
                    </a>
                    <div class="article__date">30 августа 2019</div>
                    <h4 class="article__name">
                        <a href="#">Как правильно измерить дверной проём перед покупкой дверей?</a>
                    </h4>
                </article>
            </div>
        </div>
    </div>

    <%= require('../templates/footer.html').default %>

</body>
</html>