<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="page-title">
        <div class="container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__wrapper">
                    <a class="breadcrumbs__item" href="#">Главная</a>
                    <a class="breadcrumbs__item" href="#">Личный кабинет</a>
                    <span class="breadcrumbs__item">Профиль пользователя</span>
                </div>
            </div>
            <h1>Профиль пользователя</h1>
        </div>
    </section>
    
    <div class="section">
        <div class="container">
            <div class="personal-wrapper">
                <%= require('../templates/personal_sidebar.html').default %>

                <main class="personal-main">
                    <div class="personal-search">
                        <%= require('../templates/form_search.html').default %>
                    </div>

                    <form class="personal-form form js-form">
                        <div class="personal-form__row">
                            <div class="personal-form__field">
                                <div class="field">
                                    <label class="field__label">Фамилия, имя, отчество</label>
                                    <input class="field__input" type="text" name="name" required value="Петров Сергей">
                                </div>
                            </div>
                            <div class="personal-form__description">Заполните чтобы мы знали как к вам обращаться</div>
                        </div>
                        <div class="personal-form__row">
                            <div class="personal-form__field">
                                <div class="field">
                                    <label class="field__label">E-mail</label>
                                    <input class="field__input" type="email" name="email" required value="example@email.ru">
                                </div>
                            </div>
                            <div class="personal-form__description">Для отправки уведомлений о статусе заказа. Используйте как логин для входа в личный кабинет</div>
                        </div>
                        <div class="personal-form__row">
                            <div class="personal-form__field">
                                <div class="field">
                                    <label class="field__label">Номер телефона</label>
                                    <input class="field__input" type="tel" name="tel" required value="+7 (934) 123 45 67">
                                </div>
                            </div>
                            <div class="personal-form__description">Необходим для отправки деталей заказа</div>
                        </div>
                        <div class="personal-form__row">
                            <div class="personal-form__button">
                                <button type="submit" class="button button_main-fill button_rounded button_a-active button_size-s">
                                    <span>Сохранить изменения</span>
                                </button>
                            </div>
                            <div class="personal-form__description"><b>*</b> Обязательные для заполнения поля</div>
                        </div>
                    </form>

                    <form class="personal-form form js-form">
                        <div class="personal-form__row">
                            <div class="personal-form__field">
                                <div class="field">
                                    <label class="field__label">Пароль</label>
                                    <input class="field__input" type="password" name="password" required>
                                </div>
                            </div>
                            <div class="personal-form__description">Длина пароля не более 6 символов</div>
                        </div>
                        <div class="personal-form__row">
                            <div class="personal-form__field">
                                <div class="field">
                                    <label class="field__label">Подтверждение пароля</label>
                                    <input class="field__input" type="password" name="password_confirm" required>
                                </div>
                            </div>
                        </div>
                        <div class="personal-form__row">
                            <div class="personal-form__button">
                                <button type="submit" class="button button_main-fill button_rounded button_a-active button_size-s">
                                    <span>Сохранить изменения</span>
                                </button>
                            </div>
                            <div class="personal-form__description"><b>*</b> Обязательные для заполнения поля</div>
                        </div>
                    </form>
                </main>
            </div>
        </div>
    </div>

    <%= require('../templates/social.html').default %>
    
    <%= require('../templates/footer.html').default %>

</body>
</html>