<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uberture</title>
</head>
<body>
    
    <%= require('../templates/header_default.html').default %>

    <%= require('../templates/header_fixed.html').default %>

    <section class="page-title">
        <div class="container">
            <div class="breadcrumbs">
                <div class="breadcrumbs__wrapper">
                    <a class="breacrumbs__item" href="#">Главная</a>
                    <span class="breacrumbs__item">Результат поиска</span>
                </div>
            </div>
            <h1>Результат поиска</h1>
        </div>
    </section>

    <div class="section">
        <div class="container">
            <%= require('../templates/form_search.html').default %>

            <%= require('../templates/search_result.html').default %>
        </div>
    </div>

    <%= require('../templates/footer.html').default %>

</body>
</html>